@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 700;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    flex-direction: column;
    height: 100svh;
    width: 100svw;
}

#title {
    font-size: 3rem;
    color: cadetblue;
}

#alarm {
    display: none;
}

#container  {
    width: 50svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow:inset 0 0 25px cadetblue; */
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 2rem;
}

#timer {
    font-size: 2rem;
    font-weight: 600;
    color: grey;
}

#topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    width: 70px;
    font-size: 1.5rem;
    color: grey;
}

input:focus {
    outline: none;
}

#minutes {
    margin-right: 8px;
}

button {
    cursor: pointer;
    width: 100px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid cadetblue;
}

#middleContainer {
    margin: 2.5rem auto 2.5rem auto;
}

.startBtn, .resetBtn, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: white;
    color: cadetblue;
    transition: 0.3s;
}

.faded {
    background-color: cadetblue;
    color: white;
    opacity: 0.6;
}

#bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn1, #btn2, #btn3, .startBtn:hover, .resetBtn:hover {
    background-color: cadetblue;
    color: white;
}

#btn2 {
    margin: 0.5rem auto;
}

#btn3 {

}